@mixin sprite-width-sp($sprite) {
  width: nth($sprite, 5)/2;
}

@mixin sprite-height-sp($sprite) {
  height: nth($sprite, 6)/2;
}

@mixin sprite-position-sp($sprite) {
  $sprite-offset-x: nth($sprite, 3)/2;
  $sprite-offset-y: nth($sprite, 4)/2;
  background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite-image-sp($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
  background-size: $spritesheet-sp-width/2 $spritesheet-sp-height/2;
}

@mixin sprite-sp($sprite) {
  @include sprite-image-sp($sprite);
  @include sprite-position-sp($sprite);
  @include sprite-width-sp($sprite);
  @include sprite-height-sp($sprite);
}

/*
the `sprites` mixin generates identical output to the css template
  but can be overridden inside of scss

@include sprites($spritesheet-sprites);
*/
@mixin sprites-sp($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite-sp($sprite);
    }
  }
}
